/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --bckg-light: #f1f1f1;
  --main-light: #fff;
  --title-light: #333;
  --p-light: #555;
  --input-border-light:#ddd;
  
  --bckg-dark: rgba(26,34,54,255);
  --main-dark: hsl(224, 37%, 10%);
  --songs-dark: hsl(224, 37%, 11%);
  --title-dark: #b5b5b5;
  --p-dark: #b5b5b5;
  --text-dark: #fff;
  --input-border-light:#252525;
  --input-bckg-dark: hsl(0, 0%, 23%);
  
  --primary: #179b34;
  --secondary: #fd7045;
  --danger: #9050e9;
  --error: hsl(341, 81%, 30%);
  --disabled: hsl(0, 0%, 45%);
  --gradient-dark: linear-gradient(180deg, rgba(26,33,52,255) 0%, rgba(24,35,53,255) 100%);
  --gradient-primary: linear-gradient(90deg, hsl(133, 74%, 38%) 0%, hsl(133, 74%, 35%) 100%);
  --gradient-secondary: linear-gradient(90deg, hsla(14, 98%, 66%, 1) 0%, hsl(14, 98%, 63%) 100%);
  --error-bckg: #ffefef;
  --radius: 25px;
  --btn-border: 1.5px solid var(--primary);
  --shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
h1{
  font-size: 2rem;
  color: var(--title-dark);
  padding-top: 25px;
}
h2{
  font-size: 1.7rem;
  color: var(--title-dark);
}
h3{
  font-size: 1.4rem;
  color: var(--title-dark);
}
h4{
  color: var(--title-dark);
}
a{
  text-decoration: none;
}
p, ul, li{
  color: var(--p-dark);
}
span{
  color: var(--title-dark);
}
.error, .error-password li{
  color: var(--error);
  font-weight: 600;
}
.btn{
  font: inherit;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: var(--radius);
  cursor: pointer;
  border: none;
  color: var(--text-dark);
  box-shadow: var(--shadow);
}
.App{
  display: grid;
  grid-template-columns: minmax(300px, 25%) 1fr;
  background: var(--gradient-dark);
}
.pages{
  transition: all 0.4s linear;
  padding: 2rem;
}
.auth-container {
  margin: 10rem auto;
  display: grid;
  place-content: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 40%;
  background: var(--main-dark);
  border-radius: var(--radius);
  justify-content: space-around;
}
.auth-container h2, .auth-container h3{
  color: var(--secondary);
}

/* ============ BUTTONS ============= */
.btn.btn-logout, .btn.btn-nav{
  background: none;
  border: var(--btn-border);
}
.btn.btn-logout{
  color:var(--primary);
  text-align: center;
}
.btn.btn-nav{
  color:var(--primary);
  transition: all 0.3s linear;
}
.btn.btn-nav:hover{
  color:var(--bckg-dark);
  background: var(--gradient-primary);
}
.btn.btn-nav:active, .btn[data-active='true']{
  background: var(--secondary);
  border: none;
  color:var(--bckg-dark);
}
form button, .btn {
  background: var(--primary);
  border: 0;
  color: var(--main-dark);
  padding: 10px 25px;
  font-family: "Poppins";
  border-radius: var(--radius);
  cursor: pointer;
}
.btn-login, .btn-signup{
  margin-bottom: 1rem;
}
button.btn.btn-login:disabled {
  background: var(--disabled);
  cursor: not-allowed;
}
.menu-btn{
  display: none;
  position: absolute;
  top: 50px;
  right: -60px;
  background: none;
  border: var(--btn-border);
  border-radius: var(--radius);
  cursor: pointer;
  z-index: 1000000;
}
.menu-btn span{
  color: var(--primary);
}
.top-btn.scroll-to-top{
  color: var(--primary);
  box-shadow: none;
  background: none;
}

/* ============== SIDEBAR ============== */
header{
  min-height: 100vh;
  position: sticky;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: var(--shadow);
  background: var(--main-dark);
  position: relative;
  z-index: 1000;
  transition: all 0.3s linear;

}
.sidebar{
  height: 95vh;
}
.nav__container{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav__container div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.nav__container--login{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.nav__button-container{
  display: flex;
  flex-direction: column;
}
.nav__user-name{
  color: var(--primary);
  font-weight: 700;
}

/* ============== HOME ================ */
.home h2{
  text-align: center;
  color: var(--secondary);
}
.home h3{
  color: var(--secondary);
}

/* ============== DASHBOARD =============== */
.songs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.song-details{
  flex: 0 1 250px;
  background: var(--songs-dark);
  border-radius: var(--radius);
  margin: 20px 0;
  padding: 20px;
  position: relative;
  box-shadow: var(--shadow);
}
.song-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.song-details p{
  margin: 0;
  font-size: 0.9em;
  color: var(--p-dark);
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}
.song-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--bckg-dark);
  padding: 6px;
  border-radius: 50%;
  color: var(--error);
}
.song-details span.btn-edit{
  color: var(--secondary);
  right: 70px;
}

/* =========== ABOUT ============ */
.about-section{
  padding: 2rem 3rem;
  background: var(--main-dark);
  border-radius: var(--radius);
  font-size: 1.1rem;
}
p.about-p{
  margin-bottom: 2rem;
  line-height: 2.5;
}

/* ========== INPUTS =========== */
label, input {
  display: block;
}
label{
  color: var(--text-dark);
}
input, textarea, select, option {
  padding: 10px 10px 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--input-border-light);
  border-radius: var(--radius);
  box-sizing: border-box;
  box-shadow: var(--shadow);
  font: inherit;
  font-size: inherit;
  background: var(--input-bckg-dark);
  color: var(--text-dark);
}

/* ============= NEW SONG ============= */
/* ============= NEW SONG CONTAINER ============= */
.songs-container, .words, .chords{
  padding: 2rem 1.5rem;
  margin-bottom: 5rem;
  background: var(--main-dark);
  border-radius: var(--radius);
}
.songs-container .title{
  color: var(--primary);
  font-weight: 700;
}


/* ============= TOOLS ============= */
.tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
}
.words{
  flex: 0 1 400px;
  flex: 1 1; /*  Stretching: */
  margin: 5px;
}
.chords{
  flex: 0 1 400px;
  flex: 1 1; /*  Stretching: */
  margin: 5px;
}

/* ============ MEDIA QUERIES ============= */
@media (min-width: 1440px){
  header{
    max-width: 350px;
  }
  .songs{
    gap: 5rem;
  }
}
@media (max-width: 768px){
  .menu-btn{
    display: flex;
  }
  header#hidden{
    transform: translateX(-100%);
  }
  header#show{
    transform: translateX(0);
  }
  .pages{
    transform: translateX(-20%);
  }
  header#show ~ .pages{
    transform: translateX(0);
  }
}
@media (max-width: 425px){
  .App{
    overflow-x: hidden;
  }
  .pages{
    transform: translateX(-65%);
    width: 100vw;
  }
  .tools{
    width: 80%;
    padding-left: 2rem;
  }
}
@media (max-width: 375px){
  .pages{
    transform: translateX(-75%);
  }
}